h1{
    color: green;
}
#eka{
   font-size: 50%; color:blueviolet
}
#toka{
    font-size: 340%; color: aqua;
}
#kolmas{
    font-size: 200%; color: blue;
}
#neljäs{
    font-size: 150%; color: fuchsia;   
}
#viides{
    font-size: 500%; color: red;
}
#kuudes{
    font-size: 300%; color: goldenrod;
}
#seiska{
    font-size: 70%; color: brown;
}
#nimi{
   font-family: fantasy;
    font-size: 150%;

}
#teksti1{
    font-family: "Sankofa Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#teksti2{
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: normal;
}
#teksti3{
    font-family: "Sankofa Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}