body 
img
{ margin: 10px }
#eka { float: left; } #toka { clear: both; float: right; }

table
{border: 1px solid black;

border-collapse: collapse;

}


td

{border: 1px solid black;}

th

{border: 1px solid black;}